// Variables
$forestBlue: #0a3d62;
$aguamarinaPrimary: #079992;
$aguamarinaSecondary: #08777296;
$aguamarinaTertiary: #0e504d96;
$azulOscuroPrimary: #001122;
$azulOscuroSecondary: #112233;
$redPrimary: #d63031;